@evrazplace-orange: rgb(245,128,38);
@cfps-darkgreen: #0b511a;
@cfps-wheat: #d7ac28;
@real-main: @cfps-darkgreen;

@footer__background: @real-main;
@footer__color: @color-white;
@footer__border-color: @color-white;
