// /**
// * @package real/cfs
// * @author Josh Carswell <Josh.Carswell@REAL1884.ca>
// * @copyright 2021 The Regina Exhibition Association Ltd.
// */

//
//  Common
//  _____________________________________________


& when (@media-common = true){
.page-layout-1column .product-info-main { width: 100%; }
.product-info-main { float: none; }
.product-info-main .product-add-form { max-width: 744px; }
.product-options-bottom { float: none; }
.product-options-warpper { float: none; }
.downloads-no-separately { display: none; }
}
