<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Reports::reports_salesroot_extended_sales_reports" title="Extended Sales Reports" translate="title" module="OmniOnline_ExtendedSalesReports" sortOrder="70" parent="Magento_Reports::report_salesroot" action="extendedsalesreports/report" resource="OmniOnlne_ExtendedSalesReports::report"/>
    </menu>
</config>
