// /**
// * @package real/evrazplace
// * @author Josh Carswell <jcarswell@evrazplace.com>
// * @copyright 2018 The Regina Exhibition Association Ltd.
// */

//
//  Common
//  _____________________________________________

@evrazplace-orange: rgb(245,128,38);
@cfps-blue: #002d6d;
@cfps-yellow: #c1a12f;
@cfs-green: #0B511A;

& when (@media-common = true) {
    .action.primary {
        &, &:hover, &:active, &:focus {
        background: @cfps-green
        border-radius: 20px;
        color: @color-white;
        text-transform: uppercase;
        font-weight: 700;
        }
    }
}
