<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="notify_service_group" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Notification Service Gourps</label>
            <tab>sales</tab>
            <resource>OmniOnline_NotifyServinceGroups::notification_config</resource>
            <group id="group_0" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Group 0</label>
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>The title of the form which is used when generating the notification email</comment>
                </field>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Addresses</label>
                    <comment>A comma-separated list of email addresses to notify when QCX Parade items are ordered.</comment>
                </field>
            <group id="group_1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Group 1</label>
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>The title of the form which is used when generating the notification email</comment>
                </field>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Addresses</label>
                    <comment>A comma-separated list of email addresses to notify when QCX Parade items are ordered.</comment>
                </field>
            <group id="group_2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Group 2</label>
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>The title of the form which is used when generating the notification email</comment>
                </field>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Addresses</label>
                    <comment>A comma-separated list of email addresses to notify when QCX Parade items are ordered.</comment>
                </field>
            <group id="group_4" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Group 3</label>
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>The title of the form which is used when generating the notification email</comment>
                </field>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Addresses</label>
                    <comment>A comma-separated list of email addresses to notify when QCX Parade items are ordered.</comment>
                </field>
            </group>
        </section>
    </system>
</config>

